@font-face {
	font-family: IranSans;
	src: url("../assets/fonts/ttf/IRANSansWeb.ttf");
}

* {
	padding: 0%;
	margin: 0;
	box-sizing: border-box;
	direction: rtl;
	font-family: IranSans, sans-serif;
}

/* ################################## header ################################### */
header {
	width: 100%;
	height: auto;
	text-align: center;
	padding: 10px 10px 0 10px;
	display: none;
}

header > .head {
	width: inherit;
	height: inherit;
	padding: 3px;
	border-radius: 5px;
	box-shadow: 0 0 4px #888 !important;
	margin-bottom: 15px;
}
header > div:not(:nth-child(1)) {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}
header > .info {
	flex-wrap: wrap;
}
header > .info p {
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	white-space: normal;
	box-shadow: 0 0 4px blue;
	margin: 0;
}
header > div.info > .timer {
	direction: ltr;
	box-shadow: 0 0 5px rgba(255, 0, 0, 0.6);
	font-size: 1.5em;
	width: 40%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* ################################## /header ################################### */
/* ################################## main ################################### */
main {
	height: auto;
	margin-bottom: 50px;
	padding: 10px;
}

/* ################################## form ################################### */
form {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

form {
	width: 500px;
	height: auto;
	padding: 5px 10px;
	background-color: azure;
	border-radius: 5px;
	box-shadow: 0 0 5px #dfdfdf;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

form > div {
	width: 100%;
	justify-content: space-between;
	background: #fff !important;
}
form > * {
	margin: 5px 0 !important;
}

form > div > * {
	width: 40%;
	height: 100%;
	text-align: right;
}

form > div > input {
	width: 100%;
	direction: ltr;
	text-align: left;
}

.input-group-text {
	background: rgba(0, 0, 0, 0) !important;
	border: none !important;
}
form > :last-child {
	margin-left: 0.75rem !important;
}

/* ################################## /form ################################### */
/* ################################## quiz-form ################################### */
#quiz-form {
	/* display: none; */
	width: 100%;
	height: auto;
	text-align: right;
}
#quiz-form > div {
	width: inherit;
	height: inherit;
	/* background-color: #DBF6E9; */
	box-shadow: 0 0 4px #888;
	border-radius: 15px;
	padding: 5px;
	margin-bottom: 15px;
	color: #000;
	font-size: 18px;
}

#quiz-form div h4 {
	height: 30px;
	line-height: 30px;
	background-color: #dbf6e9;
	border-radius: 15px;
	padding: 5px 10px;
	padding-top: 0px;
	text-align: center;
	color: #000;
	line-height: 30px;
}
#quiz-form div div {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
#quiz-form div:nth-child(1) {
	display: none;
}

/* ################################## /quiz-form ################################### */

/* ################################## result ################################### */
main div.res {
	width: 100%;
	height: auto;
	padding: 10px;
	background-color: aliceblue;
	box-shadow: 0 0 4px blue;
	border-radius: 5px;
	text-align: right;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
main div.res :not(:nth-child(3)) {
	display: none;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}
main div.res :nth-child(2) {
	direction: ltr;
}
main div.res * {
	/* display: none; */
	font-weight: lighter;
	font-size: 2em;
}
/* ################################## /result ################################### */
/* ################################## main ################################### */
